<div class="container">
    <div class="row">
        <div class="col-md-12"><img src="../../../assets/icon/home-blue.png" style="height: 25px;" alt="dashboard"> Portfolio 
            <span style="float: right;"><button class="btn btn-primary">Reffer a friend</button></span></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body row" style="height: 400px;">
                    <div class="col-md-7">
                        <highcharts-chart style="width: 100%; display: block;height:270px;"
                        [Highcharts]="Highcharts" [options]="chartOptions1" [runOutsideAngular]="true" [oneToOne]="true">
                       </highcharts-chart>
                    </div>
                    <div class="col-md-5" style="border: #e2ecf0 solid;border-radius: 6px">
                        <div style="min-width: 200px; height: 250px; max-width: 300px; margin: 0 auto" [chart]="donutChart"></div>
                        <div class="row">
                            <div class="col-md-6 textcentre"> <p> Hashes Mined <br><span style="color: black;font-weight: 550;">985K</span></p></div>
                            <div class="col-md-6 textcentre"> <p>CCRB Mined <br><span style="color: black;font-weight: 550;">$ 2.46</span></p> </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="height: 400px;">
                    <div class="row">
                        <img class="image1" src="../../../assets/icon/image1.png" alt="image1">
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <p>Membership</p> </div>
                        <div class="col-md-6"><p><span style="color: blue;font-weight: 500;">  Prime Plus</span></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <p> Trading Account:</p> </div>
                        <div class="col-md-6"> <p><span style="color: black;font-weight: 500;"> $ 266.7 CCRB</span></p> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <p> Mining Balance:</p></div>
                        <div class="col-md-6"> <p> <span style="color: black;font-weight: 500;">$ 266.7 CCRB</span></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <p> Mining Pending</p></div>
                        <div class="col-md-6"> <p> <span style="color: black;font-weight: 500;">$ 266.7 CCRB</span></p> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <p>Total</p> </div>
                        <div class="col-md-6"> <p> <span style="color: black;font-weight: 500;">$ 266.7 CCRB</span></p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p> <img class="icon11" src="../../../assets/icon/3.png" alt="3"> &nbsp;&nbsp; CryptoCarbon(CCRB) <br><br>

                        <span style="color: black;font-weight: 500;padding-left: 40px;padding-right: 40px;">$ 266.7 CCRB</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2.5">
            <div class="card">
                <div class="card-body">
                    
                    <p> <img class="icon11" src="../../../assets/icon/2.png" alt="3"> &nbsp;&nbsp; CryptoCarbon(CCRB) <br><br>

                        <span style="color: black;font-weight: 500;padding-left: 40px;padding-right: 40px;">$ 266.7 CCRB</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2.5">
            <div class="card">
                <div class="card-body">
                    <p> <img class="icon11" src="../../../assets/icon/1.png" alt="3"> &nbsp;&nbsp; CryptoCarbon(CCRB) <br><br>

                        <span style="color: black;font-weight: 500;padding-left: 40px;padding-right: 40px;">$ 266.7 CCRB</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2.5">
            <div class="card">
                <div class="card-body">
                    <p> <img class="icon11" src="../../../assets/icon/1.png" alt="3"> &nbsp;&nbsp; CryptoCarbon(CCRB) <br><br>

                        <span style="color: black;font-weight: 500;padding-left: 40px;padding-right: 40px;">$ 266.7 CCRB</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        <img src="../../../assets/icon/rightarrow-blue.png" class="right" alt="go-right">
        </div>
    </div>
</div>