
.navbar{
    width: 100%;
    font-size: 12px;
}

.toolbar{
    background: white;
    color: #949bb7;
    border-bottom: 5px solid #a3d5ea;
}
.signout{
    font-size: medium;
    font-weight: 600;
    margin-top: 20px;
}
.head{
    width: 90%;
    text-align: center;
}
